.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.spinner {
  width: 20px;
  height: 20px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #f3adac;
  border-radius: 50%;
  margin:10px;
  animation: spin 0.5s ease-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
